#footer{
    width: 100%;
    height: auto;
    display: flex;
    background-color: black;
    color: white;
}
#footer .footer{
    width: 33%;
    height: auto;
    margin: 0 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#footer .footer h4{
    color: #582900;
    text-decoration: underline;
    bottom: -3px;
    font-size: 15px;
}

#footer .footer a{
margin: 5px 0;
color: white;
}
#footer .footer a:hover{
color: #582900;
}

.mes_coordonées p{
    margin: 5px 0;
    color: white;
    font-size: 15px;
}

.pied_de_page p{
text-align: center;
background-color: black;
color: white;
font-size: 15px;
}

/* Responsive */

@media screen and (max-width: 525px){


    #footer .footer h4{
        font-size: 12px;

    }

    #footer .footer a{
        font-size: 10px
    }

    .mes_coordonées p{
        font-size: 12px;

    } 

     .pied_de_page p{
        font-size: 12px;

        }
    

}

@media screen and (max-width: 425px){

    #footer{
        display: flex;
        flex-direction: column;

    }
    #footer .footer h4{
        font-size: 12px;

    }

    #footer .footer a{
        font-size: 10px;
        display: block;
    }

    .mes_coordonées p{
        font-size: 12px;
        display: block;

    }

    .pied_de_page p{
        font-size: 12px;
        display: block;

        }
    

}